.slide {
    box-sizing: border-box;
    .main {
        box-sizing: border-box;
        height: 90vh;
    }
    .footer {
        box-sizing: border-box;
        height: 10vh;

        .name {
            
        }
    }
}