.slide {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .main {
        box-sizing: border-box;
        height: 85vh;
    }
    .footer {
        box-sizing: border-box;
        height: 15vh;

        .name {
            
        }
    }
}